bs4
time
json
urllib
urllib2
socket
httplib
hashlib
datetime
termcolor
requests
mechanize
subprocess
HTMLParser
BeautifulSoup





urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
