bs4
time
json
urllib
urllib2
socket
httplib
hashlib
datetime
termcolor
requests
mechanize
subprocess
HTMLParser
BeautifulSoup





setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
