bs4
time
json
urllib
urllib2
socket
httplib
hashlib
datetime
termcolor
requests
mechanize
subprocess
HTMLParser
BeautifulSoup





setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
